<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.balvarez.entregacargamovil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainEntregaCargaMovil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainResumenPlanilla" />
        <activity android:name=".MainODT" />
        <activity android:name=".MainResumenEntrega" />
        <activity android:name=".MainEntregaCarga" />
        <activity android:name=".MainFirma" />
        <activity android:name=".MainEscanerBulto" />
        <activity android:name=".MainMotivoNoEntrega"></activity>
    </application>

</manifest>